
<app-graphs-selector></app-graphs-selector>

<!-- UI design idea: don't rely on scrolling to find graphs. Instead have click targets that take you
to a full-screen graph. Or maybe leave the selection bar? -->
<div class="row">
  <plotly-plot [data]="data.infections.data" [layout]="data.infections.layout"></plotly-plot>
  <plotly-plot [data]="data.growth.data" [layout]="data.growth.layout"></plotly-plot>
</div>

<div class="row">
  <plotly-plot [data]="data.infection_rate.data" [layout]="data.infection_rate.layout"></plotly-plot>
  <plotly-plot [data]="data.test_negative_rate.data" [layout]="data.test_negative_rate.layout"></plotly-plot>
</div>
