<ng-select [items]="available"
           (change)="onStatesSelectedChange()"
           [(ngModel)]="selectedStates"
           bindLabel="title"
           bindValue="id"
           groupBy="states"
           markFirst=false
           isOpen=true
           placeholder="Select States"
           selectableGroupAsModel=true
           selectableGroup=true
           multiple=true>
  <ng-template ng-option-tmp let-item="item">
    <span *ngIf="item.bolded; then boldBlock else plainBlock"></span>
    <ng-template #boldBlock><b>{{item.title}}</b></ng-template>
    <ng-template #plainBlock>{{item.title}}</ng-template>
  </ng-template>
</ng-select>
