<mat-card>
  <label id="compare-label">Comparison Mode</label>
  <mat-radio-group class="compare-group "(change)="onXStyleChange()" aria-labelledby="compare-label" [(ngModel)]="xstyle">
    <mat-radio-button value="date">By Date</mat-radio-button>
    <mat-radio-button value="critical">Since Outbreak</mat-radio-button>
    <mat-radio-button value="recent">Last 14 Days</mat-radio-button>
  </mat-radio-group>
</mat-card>
<mat-card>
  <mat-chip-list>
    <mat-chip *ngFor="let prefill of prefills" [value]="prefill" (click)="onChipChange(prefill)">
      {{prefill.title}}
    </mat-chip>
  </mat-chip-list>
</mat-card>

<mat-card>
  <ng-select (change)="onStatesSelectedChange()"
             [(ngModel)]="selectedStates"
             [items]="available"
             bindLabel="title"
             bindValue="id"
             dropdownPosition="'bottom'"
             groupBy="states"
             markFirst=false
             multiple=true
             placeholder="Select States"
             selectableGroup=true
             selectableGroupAsModel=true>
    <ng-template ng-option-tmp let-item="item">
      <span *ngIf="item.bolded; then boldBlock else plainBlock"></span>
      <ng-template #boldBlock><span class="ng-optgroup">{{item.title}}</span></ng-template>
      <ng-template #plainBlock><span class="ng-option">{{item.title}}</span></ng-template>
    </ng-template>
  </ng-select>
</mat-card>
