<h2>{{title}}</h2>

<ng-select [items]="states_available" bindLabel="name" placeholder="Select states"
           appendTo="body" multiple="true" [(ngModel)]="states_selected"
           (change)="onStatesChange()"></ng-select>
<div class="row">
  <plotly-plot [data]="infections.data" [layout]="infections.layout"></plotly-plot>
</div>

<div class="row">
  <plotly-plot [data]="growth.data" [layout]="growth.layout"></plotly-plot>
</div>

<div class="row">
  <plotly-plot [data]="infection_rate.data" [layout]="infection_rate.layout"></plotly-plot>
</div>

<div class="row">
  <plotly-plot [data]="test_negative_rate.data" [layout]="test_negative_rate.layout"></plotly-plot>
</div>
