<mat-toolbar color="primary" class="toolbar mat-elevation-z6" xmlns="http://www.w3.org/1999/html">
  <mat-icon (click)="snav.toggle()">menu</mat-icon>
  <h1 class="app-name">US Coronavirus Comparison</h1>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #snav mode="'over'" fixedInViewport="true" fixedTopGap="56" class="sidenav">
    <app-graphs-selector></app-graphs-selector>
  </mat-sidenav>
  <mat-sidenav-content>
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let link of navLinks"
         [routerLink]="link.path"
         queryParamsHandling="preserve"
         routerLinkActive #rla="routerLinkActive"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar color="primary" class="toolbar mat-elevation-z6">
  Data credit:
  <a target="_blank" style="color: white; margin-left: 10px" href="https://covidtracking.com/">The Covid Tracking Project</a>
</mat-toolbar>
